.store-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    .description {
        text-align: justify;
    }

    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 2/1;
        border-radius: 25px;
    }

    ul {
        list-style: none;

        li {
            color: lightblue;
            cursor: pointer;
        }

        li + li {
            margin-top: 10px;
          }
    }
}

dialog {
    margin: 2rem auto;
    border: 0px;
    border-radius: 15px;
    padding: 48px;
    max-width: 1080px;
    background-color: rgb(35, 40, 45);
    color: #ffffff;

    button {
        cursor: pointer;
        color: white;
        background-color: rgb(120, 131, 143);
        border-radius: 12px;
        margin: 20px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 32px;
        padding: 15px 25px;
    }
}